[submodule "shared"]
	path = shared
	url = https://gitlab.rmanet.app/RMA/usbr-water-quality/wat-studies/wtmp-development-study/Stanislaus_WQ/shared.git
[submodule "rss"]
	path = rss
	url = https://gitlab.rmanet.app/RMA/usbr-water-quality/wat-studies/wtmp-development-study/Stanislaus_WQ/rss.git
[submodule "reports"]
	path = reports
	url = https://gitlab.rmanet.app/RMA/usbr-water-quality/wat-studies/wtmp-development-study/Stanislaus_WQ/reports.git
[submodule "ras"]
	path = ras
	url = https://gitlab.rmanet.app/RMA/usbr-water-quality/wat-studies/wtmp-development-study/Stanislaus_WQ/ras.git
[submodule "cequal-w2"]
	path = cequal-w2
	url = https://gitlab.rmanet.app/RMA/usbr-water-quality/wat-studies/wtmp-development-study/Stanislaus_WQ/cequal-w2.git
[submodule "5q"]
	path = 5q
	url = https://gitlab.rmanet.app/RMA/usbr-water-quality/wat-studies/wtmp-development-study/Stanislaus_WQ/5q.git
[submodule "scripts"]
	path = scripts
	url = https://gitlab.rmanet.app/RMA/usbr-water-quality/wat-studies/wtmp-development-study/Stanislaus_WQ/scripts.git
