[submodule "shared"]
	path = shared
	url = https://gitlab.rmanet.app/RMA/usbr-water-quality/wat-studies/wtmp-demo-studies/WTMP_Stanislaus/shared.git
[submodule "rss"]
	path = rss
	url = https://gitlab.rmanet.app/RMA/usbr-water-quality/wat-studies/wtmp-demo-studies/WTMP_Stanislaus/rss.git
[submodule "reports"]
	path = reports
	url = https://gitlab.rmanet.app/RMA/usbr-water-quality/wat-studies/wtmp-demo-studies/WTMP_Stanislaus/reports.git
[submodule "ras"]
	path = ras
	url = https://gitlab.rmanet.app/RMA/usbr-water-quality/wat-studies/wtmp-demo-studies/WTMP_Stanislaus/ras.git
[submodule "cequal-w2"]
	path = cequal-w2
	url = https://gitlab.rmanet.app/RMA/usbr-water-quality/wat-studies/wtmp-demo-studies/WTMP_Stanislaus/cequal-w2.git
[submodule "5q"]
	path = 5q
	url = https://gitlab.rmanet.app/RMA/usbr-water-quality/wat-studies/wtmp-demo-studies/WTMP_Stanislaus/5q.git
[submodule "scripts"]
	path = scripts
	url = https://gitlab.rmanet.app/RMA/usbr-water-quality/wat-studies/wtmp-demo-studies/WTMP_Stanislaus/scripts.git
