<?xml version="1.0" encoding="UTF-8"?>
<SimulationContainer SimulationContainerName="StanRivOnly_06-09-RivCal1" Description="" AnalysisPeriod="RiverCal_1" Alternative="ResSim_RiverOnly" ProgramOrder="ResSim only" WarmupTimeSteps="0" SimulationCount="1">
  <Simulation0 SimulationName="StanRivOnly_06-09-RivCal1" />
</SimulationContainer>

